<h1> Nearest Stops are </h1>

<ul>
<% @map_me.each do |loc| %>
	<li> <%= loc.lat %> , <%= loc.lon%> </li>
<% end %>

</ul>

<div id="cm-example" style="width: 500px; height: 500px"></div>
	

  <script type="text/javascript">

  </script>

